@font-face{
    font-family: "poppins200";
    src: url('fonts/Poppins-ExtraLight.ttf');
}
@font-face{
    font-family: "poppins300";
    src: url('fonts/Poppins-Light.ttf');
}
@font-face{
    font-family: "poppins600";
    src: url('fonts/Poppins-SemiBold.ttf');
}

/*General*/
html{
    /*Widhts*/
    --mobile-width: 375px;
    --desktop-width: 1440px;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
    display: flex;

    /*Colors*/
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-Dark-Blue: hsl(234, 12%, 34%);
    --grayish-Blue: hsl(229, 6%, 66%);
    --verylight-Gray: hsl(0, 0%, 98%);

    /*Fonts*/
    font-size: 15px;
    color: var(--grayish-Blue);
}

body{
    background-color: var(--verylight-Gray);
    width: var(--mobile-width);
    margin: 0;
    height: 1300px;
}

h1{
    color: var(--very-Dark-Blue);
    line-height: 17px;
    width: fit-content;
    font-family: "poppins200";
}

img{
    float: right;
}

h2{
    width: fit-content;
    line-height: 17px;
    color: var(--very-Dark-Blue);
    font-family: "poppins300";
}

/*Title*/
.header{
    width: var(--mobile-width);
}

.header p{
    font-family: "poppins200";
}

.dark{
    padding-top: 5px;
    font-family: "poppins600";
}

.content{
    width: var(--mobile-width);
    height: 1300px; 
}

.content div{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px var(--grayish-Blue);
}

.content div p {
    font-size: 15px;
    font-family: "poppins200";
}

.supervisor{
    border-top: 5px solid var(--cyan);
}

.teamBuilder{
    border-top: 5px solid var(--red);
}

.karma{
    border-top: 5px solid var(--orange);
}

.calculator{
    border-top: 5px solid var(--blue);
}

@media only screen and (min-width: 1440px){
    body{
        background-color: var(--verylight-Gray);
        width: var(--desktop-width);
        margin: 0;
        height: 922px;
    }
    
    h1{
        color: var(--very-Dark-Blue);
        margin-left: 538px;
        text-align: center;
        line-height: 17px;
        width: fit-content;
        font-family: "poppins200";
    }

    img{
        float: right;
        margin-top: 35px;
        margin-right: 38px;
    }

    .header{
        margin: 80px 0 60px 0;
        width: var(--desktop-width);
    }
    
    .header p{
        font-family: "poppins200";
        width: 500px;
        margin-top: 34px;
        margin-bottom: 20px;
        margin-left: 470px;
        text-align: center;
    }

    .content{
        width: var(--desktop-width);
        height: 766px; 
        display: grid;
        grid-template-columns: 480px 480px 480px;
        grid-template-rows: 383px 383px;
    }

    .content div{
        background-color: white;
        height: 250px;
        padding-left: 40px;
        padding-top: 10px;
        width: 350px;
        border-radius: 5px;
        box-shadow: 0 2px 5px 1px var(--grayish-Blue);
    }

    .content div p {
        width: 300px;
        font-size: 15px;
        font-family: "poppins200";
    }

    .supervisor{
        margin-left: 90px;
        grid-column: 1;
        grid-row: 1;
        border-top: 5px solid var(--cyan);
        transform: translate(20px ,132.5px);
    }

    .teamBuilder{
        margin-left: 45px;
        grid-column: 2;
        grid-row: 1;
        border-top: 5px solid var(--red);
        margin-top: -10px;
    }

    .karma{
        margin-left: 45px;
        grid-column: 2;
        grid-row: 2;
        border-top: 5px solid var(--orange);
        transform: translateY(-40%);
    }

    .calculator{
        grid-column: 3;
        grid-row: 1;
        border-top: 5px solid var(--blue);
        transform: translate(-20px, 132.5px);
    }
}